*{
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(225, 100%, 94%);
}

main{
    display: flex;
}

.parametros{
    display: flex;
    flex-direction: column;
}

.parametros input{
    display: block;
    padding: 4px;
    margin-top: 2px;
    min-width: 100px;
}

.parametros div {
    margin: 30px;
}

.grafica{
    min-width: 800px;
}

.parametros button{
    min-width: 100px;
    padding: 5px;
}